<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Girls blog</title>
</head>
<body>
<div>
    <h1><a href=""> Django Girls Blog</a></h1>
</div>
<div>
    <p>Published: 14.06.2019, 12:14</p>
    <h2><a href=""> My first post</a> </h2>
    <p>Served as a key member of the executive team charged with formulating strategic direction and devising business development initiatives consistent with overall strategy</p>
</div>

<div>
    <p>Published: 14.06.2019, 12:14</p>
    <h2><a href=""> My second post</a> </h2>
    <p>Traveled nationally to identify new business opportunities and effectively managed a territory spanning across the United States and Canada. Researched and adapted to regulations including State and Tribal entities</p>
</div>
    <p>Hi there</p>
    <p>It works</p>
</body>
</html>