<html>
<head>
    <title>Django Girls blog</title>
</head>
<body>
<div>
    <h1><a href=""> Django Girls Blog</a></h1>
</div>
<div>
    <p>published: 14.06.2014, 12:14</p>
    <h2><a href=""> My first post</a> </h2>
    <p>
        Highly-dedicated, self-motivated, and enthusiastic Python Programmer with more than 3 years of experience
        in writing and executing Python code for web, desktop GUI, console, scientific, and numerical applications
        or software.</p>
</div>

<div>
    <p>published: 14.06.2014, 12:14</p>
    <h2><a href=""> My second post</a> </h2>
    <p>
        Expertise in application and related database development, analyzing user or business requirements as
        well as software testing, debugging and troubleshooting methods. Possess excellent communication,
        analytical, problem-solving, decision-making, time-management, team-working and multi-tasking skills.</p>
</div>
</body>

</html>